<div class="container mt-4 w-50">
    <h2 class="mb-4">Update Product</h2>
    <form form #productForm="ngForm" (ngSubmit)="updateProduct()">
      <div class="form-group">
        <label for="id">Product ID</label>
        <input
          type="text"
          id="id"
          readonly
          name="id"
          class="form-control"
          required
          [(ngModel)]="product.id" />
      </div>

      <!-- Name-->
      <div class="form-group">
        <label for="name">Product Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          required
          [(ngModel)]="product.name" />
      </div>
      
      <!-- Description-->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          class="form-control"
          rows="3"
          [(ngModel)]="product.description">
        </textarea>
      </div>

      <!-- Price -->
      <div class="form-group">
        <label for="price">Price (₹)</label>
        <input
          type="number"
          id="price"
          name="price"
          class="form-control"
          required
          [(ngModel)]="product.price" />
      </div>
  
       <!-- Stock -->
      <div class="form-group">
        <label for="stock">Stock Quantity</label>
        <input
          type="number"
          id="stock"
          name="stock"
          class="form-control"
          required
          [(ngModel)]="product.stock" />
      </div>
  
      <button type="submit" class="btn btn-success" (click)="updateProduct()">
        Update Product
      </button>
    </form>
  </div>
  

